@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");

$beige: #e9d5a1;
$beige-lgt: #efe1bd;
$black: #333;
$white: #fff;
$dataTop: 0;
$dataLeft: 0;
$dataRight: 7;
$dataBottom: 55;
$gameBoardWidth: 580px;
$gameBoardHeight: 560px;

* {
  padding: 0;
  margin: 0;
}

body {
  // GLOBAL
  h1,
  h2 {
    text-align: center;
  }

  a,
  button {
    text-decoration: none;
  }
  // NAVIGATION
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    .play,
    .rules {
      width: 80px;
      padding: 14px 24px;
      margin: 10px;
      background: $beige;
      color: $black;
      font: bold 160% "Raleway", sans-serif;
      border: none;
      border-bottom: 2px solid $black;
      border-radius: 12px;
      cursor: pointer;
      transition: 150ms;
      text-align: center;
      &:hover {
        border-bottom: 2px solid transparent;
        transform: translateY(2px);
      }
    }
  }

  // PAGES

  .app {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: $beige-lgt;

    @media(max-width: 760px){
        justify-content: flex-end;
      }

    .game {
      width: $gameBoardWidth;
      height: $gameBoardHeight;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;

      img {
        width: calc(560px / 8);
        height: calc(560px / 8);
        border: 1px solid #333;
      }

      @while $dataTop < 8 {
        img[data-id="#{$dataTop}"] {
          border-top: none;
        }
        $dataTop: $dataTop + 1;
      }
      @while $dataLeft < 57 {
        img[data-id="#{$dataLeft}"] {
          border-left: none;
        }
        $dataLeft: $dataLeft + 8;
      }
      @while $dataRight < 64 {
        img[data-id="#{$dataRight}"] {
          border-right: none;
        }
        $dataRight: $dataRight + 8;
      }
      @while $dataBottom < 64 {
        img[data-id="#{$dataBottom}"] {
          border-bottom: none;
        }
        $dataBottom: $dataBottom + 1;
      }

      @media(max-width: 1020px){
        width: 400px;
        height: 350px;
        margin-left: 70px;

        img{
          width: 45px;
          height: 45px;
        }
      }
      @media(max-width: 760px){
        padding: 30px 0 0 0;
      }
      @media(max-width: 420px){
        width: 360px;
        height: 330px;
        padding: 100px 0 0;
        margin: 0;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }

    .scoreboard {
      position: absolute;
      top: 2vh;
      left: 5vw;
      h2 {
        font-family: "Raleway", sans-serif;
        font-size: 200%;
        width: 150px;
        font-weight: bold;
        &::after {
          content: "";
          display: block;
          width: 33%;
          height: 2px;
          border-radius: 12px;
          background-color: $black;
          top: 5px;
          left: 100%;
          transform: translate(-100%);
          position: relative;
          // bottom: 20px;
        }
      }
    }
  }
  .rules-screen {
    background: $beige-lgt;
    height: 100vh;
    overflow: hidden;
    h2 {
      font-family: "Raleway", sans-serif;
      font-size: 200%;
      font-weight: bold;
    }
    p {
      font-size: 120%;
    }
  }
  .Rules {
    height: 100vh;
    overflow: hidden;
    background-color: $beige-lgt;
    font-family: "Raleway", sans-serif;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    h2{
      font-size: 200%;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateY(-25%);
      transform: translateX(-50%);
    }
    ul{
      position: absolute;
      transform: translateY(-50%);
      transform: translateX(-50%);
      left: 50%;
      top: 50%;
      font-size: 18px;
    }
    .popup {
      padding: 20px 15px;
      background-color: $black;
      color: $beige;
      border-radius: 7px;
      box-shadow: 0px 10px 20px rgba(255,255,255,0.9);
      h2 {
        padding-bottom: 20px;
      }
    }

    .close-rules {
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 7px;
      background: $black;
      color: $beige-lgt;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 150ms;
      font: bold 100% "Raleway", sans-serif;

      &:hover {
        background-color: $beige-lgt;
        color: $black;
      }
    }
  }
  .menu {
    width: 100vw;
    height: 100vh;
    background-color: $beige-lgt;
    h1 {
      font-size: 300%;
      text-align: center;
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateY(-5%);
      transform: translateX(-50%);
      font-family: cursive;
    }
  }

  // COMPONENTS
  .refresh {
    position: absolute;
    top: 20vh;
    left: 5vw;
    button {
      width: 160px;
      padding: 14px 24px;
      margin: 10px;
      background: $beige;
      color: $black;
      font: bold 160% "Raleway", sans-serif;
      border: none;
      border-bottom: 2px solid $black;
      border-radius: 12px;
      cursor: pointer;
      transition: 150ms;
      text-align: center;
      &:hover {
        border-bottom: 2px solid transparent;
        transform: translateY(2px);
      }
    }

    @media (max-width: 420px){
      top:0vh;
      left: unset;
      right: 5vw;
      button {
        padding: 10px 0;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 5vh;
    background-color: $black;
    a {
      color: $beige;
      font: 150% "Raleway", sans-serif;
    }
  }
}
